.logo-box a {
    max-width: 10em;
}

.logo {
    max-width: inherit;
    float: left;
}

#menu {
    float: right;
}

#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#menu li {
    display: inline-block;
    border: 2px solid #3C6A88;
    padding: 0 20px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
    font-size: 20px;
    background-color: #99C6E4;
}


#menu li:hover  {
    display: inline-block;
    border: 2px solid #F7B7A1;
    padding: 0 20px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -o-border-radius: 30px;
    -ms-border-radius: 30px;
    font-size: 20px;
    background-color: #F7D6CB;

}

#menu a {
    text-decoration: none;
    line-height: 38px;
}

.container:after {
    content: "";
    display: table;
    clear: both;
}

.container {
  max-width: 1024px;
  width: 100%;
  min-width: 768px;
  padding: 15px;
  margin: 0 auto;
}

#hat {
    display: block;
    top:0px;
}

header {
    background: #BDD5E4;
}
body {
    margin: 0;
}