{% load static %}
{% load account %}

<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Галерея Masonry</title>
      <link href="https://fonts.googleapis.com/css?family=Muli:400,600,700|Radley" rel="stylesheet">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'css/blog.css' %}">
   </head>
   <body>
      <header>
         <div class="container">
            <div class="header-row">
               <div class="logo-box">
                 <a href="{% url 'home' %}">
                   <img class="logo" src="{% static "pictures/logo1.jpg" %}" alt="My image">
                 </a>
               </div>
               <ul id="menu">
                    <li>
                      <a href="{% url 'account_change_password' %}" class="top-menu"><span class="glyphicon glyphicon-edit">{% user_display user %}</span></a>
                    </li>
                   {% if user.is_authenticated %}
                      <li>
                         <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit">Не опубликованные посты</span></a>
{#                         <a href="">Blog</a>#}
                      </li>

{#                      <li class="current">#}
{#                         <a href="">Portfolio</a>#}
{#                      </li>#}
{#                      <li>#}
{#                         <a href="">About</a>#}
{#                      </li>#}

                    {% endif %}
               </ul>
               <div class="burger">
                  <span></span>
               </div>
            </div>
         </div>
      </header>
      <div class="main">
         <div class="container">
            <div class="row">
               <div class="grid">
                 {% block content %}
                 {% endblock %}
               </div>
            </div>
         </div>
      </div>
      <footer>
         <div class="container">
            <div class="footer-row">
               <div class="footer-col">
                  <p>Copyright © 2020 Ivankis</p>
               </div>
               <div class="footer-col">
                  <div class="social-icons-wrapper">
                     <a class="social-icon" target="_blank" href=""><i class="fa fa-facebook"></i></a>
                     <a class="social-icon" target="_blank" href=""><i class="fa fa-twitter"></i></a>
                     <a class="social-icon" target="_blank" href=""><i class="fa fa-google-plus"></i></a>
                  </div>
               </div>
            </div>
         </div>
      </footer>
   </body>
</html>